@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Here you can discover how shortening algorithm works!</p>
<span>Shrotly about algorithm:</span> <br />
<span>Depends of link characters it gets it's owns number key and then this key reworks to letters and after all additing it to our domain. 
    Using this link you will redirected to our site, here you will find button which will redirect you to your site!</span>
