@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if(ViewBag.Name != null)
    {
        <h1 class="display-4">Welcome, @ViewBag.Name !</h1>
    }
    @if(ViewBag.Name == null)
    {
        <h1 class="display-4">Welcome!</h1>
    }
    <span>Use buttons above to navigate!</span>
</div>
