<div class="url-container" *ngIf="shortedUrl && user">
    <h1>Url details:</h1>
    <hr>
    <span class="url-dtl">Created date: {{ shortedUrl.createdDate | date }}</span>
    <a class="url-dtl" (click)="navigateByUrl(false)">Short url: {{ shortedUrl.shortUrl }}</a>
    <a class="url-dtl" (click)="navigateByUrl(true)">Full url: {{ shortedUrl.url }}</a>
    <span class="url-dtl">Author full name: {{ user.fullName }}</span>
    <app-button (isClicked)="deleteLink()" buttonName="Delete link"></app-button>
</div>
