

.container[b-d0p6rp0j9t]{
    display: flex;
    flex-direction: column;
}

.user[b-d0p6rp0j9t]{
    display: flex;
    flex-direction: row;
}

.user > span[b-d0p6rp0j9t] {
    margin: 5px 5px 5px 5px;
}
